body {
    background: #26242a;
    color: #d8dad1;
    /*1.4 em universal height */
    line-height: 3.2vh;
    margin: 0;
    padding: 0;
    font-size: 2.4vh;
}



* {
    font-family: Consolas, 'Courier New', monospace;

}


/* NAVIGATION BAR */
.navBar ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    overflow: hidden;
    background-color: #2d2d2d;
}

.navBar ul li {
    float: left;
    background-color: #2d2d2d;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
}

#selected {
    background-color: #1e1e1e;
}

.tabs:hover {
    cursor: pointer;
}

#homeButton:hover {
    cursor: pointer;

}


.navBar ul li a {
    display: block;
    color: white;
    text-align: center;

    text-decoration: none;

    display: inline-block;
}

#run {
    width: 2vh;
    height: 2vh;
}

/* Change the link color to #111 (black) on hover */
/* .navBar ul li a:hover {
    background-color: #111;
} */


/* ROOT */
.rootPath {
    width: 100%;
    background-color: #1f1f1f;
    /* border-style: solid; */
    border-top: 1px solid #945e99;
    /* border-top: #427bee; */
}

.rootPath p {
    margin: 0;
    padding-left: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    line-height: 2vh;
    height: 2vh;
    font-size: 2vh;
}

.flex_container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: baseline;
    gap: 2ex;
    margin-left: 0;
    margin-top: 0;

}

/* Num bar */
.numBar {
    left: 0;
    z-index: 50;
    display: flex;
    flex-flow: column;
    color: #858585;
    /* color: red; */
    margin-left: 0;
    width: 6vh;
    text-align: right;
    margin-top: 0;
    padding-top: 0;
    align-items: flex-end;
    /* background-color: aqua; */
    justify-content: center;
}

.numBar ul {
    list-style: none;

    margin-top: 0;

}

/* CONTENT */
.comments {
    color: #777d7f;
    font-style: italic;
}

.executableCode {
    background-color: transparent;
    color: #d8dad1;
    border: none;
    font-size: 2.4vh;

}

.executableCode:focus {
    outline-offset: 0px !important;
    outline: none !important;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #777d7f;
    text-decoration: underline wavy rgb(159, 58, 65);
    opacity: 1;
    /* Firefox */

}

/* #art {
    display: flex; 
    background-color: #945e99;
}

#art .columns{
    flex: 50%;
    width: 100%;
    background-color: aqua;
} */






/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 600px) {

    body {
        line-height: 2.8vh;
        font-size: 1.8vh;

    }

    .navBar ul li a {

        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
        padding-left: 0.5vh;
        padding-right: 0.5vh;
    }

    #run {
        width: 1vh;
        height: 1vh;
    }

    .rootPath p {
        margin: 0;
        padding-left: 1vh;
        padding-top: 0.6vh;
        padding-bottom: 0.6vh;
        line-height: 1.5vh;
        height: 1.5vh;
        font-size: 1.6vh;
    }

    .numBar {
        font-size: 1.7vh;
        width: 2.6vh;

    }

    .executableCode {
        font-size: 1.8vh;
    }

}